@import './fonts.css';

:root {
  --brown: rgb(94,64,30);
  --yellow: rgb(255,168,0);
  --white: #fff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

body {
  color: var(--brown);
  font-family: 'latoregular';
  line-height: 1.1;
  margin: 0; 
  padding: 0; 
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
}

.tittle-default {
  color: var(--brown);
  font-family: 'exo_2bold';
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.tittle-default span{
  color: var(--yellow);
}

.wrapper {
  display: grid;
  grid-template-areas: 
    "header header"
    "top-header top-header"
    "about about"
    "burger burger"
    "banner-home banner-home"
  ;
}

/* header */
header {
  background: var(--yellow);
  display: grid;
  grid-area: header;
  grid-template-columns: 1fr auto;
  padding: 30px;
}

header ul {
  display: flex;
}

header li + li {
  margin-left: 45px;
}

header li a {
  color: var(--white);
  font-size: 16px;
}

#logo {
  color: var(--white);
  display: flex;
  font-family: 'exo_2bold';
  text-transform: uppercase;
  line-height: .8;
}

#logo img {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
}

#logo span {
  color: var(--brown);
  display: block;
}


/* top-header
*******************/
.top-banner {
  background: var(--yellow);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: top-header;
  min-height: 350px;
  padding: 0 10%;
}

.top-banner::after {

}

.top-banner img {
  bottom: -23px;
  display: block;
  margin-bottom: -100px;
  width: 100%; 
}

.top-banner > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.top-banner > div {
  color: var(--brown);
  text-transform: uppercase;
}

.top-banner > div p {
  text-transform: initial;
}

.top-banner > div > span {
  font-family: 'exo_2semibold';
  font-size: 20px;
}

.top-banner > div > h2 {
  font-size: 60px;
  position: relative;
}

.top-banner > div > h2:not(span)::after {
  content: 'DOUBLE';
  position: absolute;
  color: rgba(255,255,255,.3);
  left: -100px;
  top: -80px;
  font-size: 100px;
}

.top-banner > div > h2 span {
  color: var(--white);
  font-family: 'exo_2bold';
  font-weight: 900;
}

.top-banner .price-banner {
  margin-top: 35px;
}

.top-banner .price-banner ins {
  color: var(--white);
  font-size: 45px;
  font-family: 'exo_2bold';
  text-decoration: none;
}

.top-banner .price-banner del {
  color: var(--white);
  font-family: 'exo_2light';
  font-size: 22px;
  margin-left: 10px;
}

/* about */
.about {
  display: grid;
  grid-area: about;
  grid-template-columns: 1fr 1fr;
  padding: 100px 10%;
}

.about > div:nth-child(1) {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.about h2 {
  font-size: 60px;
}

.about h2 span {
  color: var(--yellow);
}

.about p + p {
  margin-top: 20px;
}

.about > div:nth-child(2) {
  display: flex;
  justify-content: center;
}

.about .box-network {
  display: flex;
  margin-top: 20px;
}

.about .box-network span {
  border: solid 1px var(--brown);
  box-shadow: 1px 1px 2px var(--yellow);
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  transition: .3s;
  width: 40px;
}

.about .box-network span:hover {
  background: var(--brown);
}

.about .box-network span + span {
  margin-left: 10px;
}

.about .box-network img {
  width: 100%;
}

/* BURGER 
********************/
.burgers {
  display: grid;
  grid-area: burger;
  padding: 30px 5px;
}

.burgers h2 {
  text-align: center;
}

.burgers h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.burgers  img {
  height: 300px;
}

.burgers .container-burgers > div {
  max-width: 300px;
  padding: 10px 0;
}

.burgers .description {
  background: rgb(235,235,235);
  border-radius: 0 0 5px 5px;
  padding: 10px 0;
}

.burgers .description > div:nth-child(1) {
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px var(--yellow);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

.burgers .description > div:nth-child(1) span {
  font-size: 18px;
}

.burgers .description > div:nth-child(1)::after {
  content: '';
  background: var(--brown);
  bottom: -1px;
  height: 2px;
  position: absolute;
  right: 0;
  width: 70px;
}

.burgers .description > div:nth-child(1) span{
  color: var(--yellow);
  font-family: 'exo_2bold';
}

.burgers .description > div:nth-child(2) {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.burgers .container-burgers {
  display: flex;
  overflow: auto;
}

.burgers .container-burgers > div + div {
  margin-left: 20px;
}

/* BANNER-HOME
*****************/
.banner-home {
  align-items: center;
  background: url(../img/banner-home.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  display: flex;
  grid-area: banner-home;
  justify-content: flex-end;
  margin-bottom: 800px;
  min-height: 350px;
  padding-right: 50px;
  width: 100%;
}

.banner-home p {
  font-size: 50px;
  color: var(--white);
  line-height: 1.1;
  font-family: 'exo_2bold';
  position: relative;
  text-shadow: -2px -2px 5px rgba(0,0,0,.5);
  text-transform: uppercase;
}

.banner-home p span {
  color: var(--yellow);
  display: block;
}